@import url(https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
li{
  list-style: none;
}
body {
  position: relative;
  min-height: 100vh;
  width: 100%;
}

.SidebarOnDesktop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 60px;
  background: #11101d;
  padding: 2px 6px;
  transition: all 0.5s ease;
}

.SidebarOnDesktop {
  width: 240px;
}

.SidebarOnDesktop .logo_content .logo {
  color: #fff;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  font-size: 20px;
  opacity: 0;
  pointer-events: none;
}

.SidebarOnDesktop .logo_content .logo {
  opacity: 1;
  pointer-events: none;
}

.logo_content.logo i {
  font-size: 28px;
  margin-right: 5px;
}

.logo_content .logo .logo_name {
  font-size: 20px;
  font-weight: 400;
}

.SidebarOnDesktop #btn {
  position: absolute;
  color: #fff;
  left: 50%;
  top: 6px;
  font-size: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
}

.SidebarOnDesktop #btn {
  left: 80%;
}

.SidebarOnDesktop ul {
  margin-top: 20px;
}

.SidebarOnDesktop ul li {
  position: relative;
  height: 50px;
  width: 100%;
  margin-top: 0 5px;
  list-style: none;
  line-height: 50px;
}

.SidebarOnDesktop ul li .tooltip {
  position: absolute;
  left: 122px;
  top: 0;
  transform: translate(-50%, -50%);
  border-radius: 6px;
  height: 35px;
  width: 122px;
  background: #fff;
  line-height: 35px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0s;
  opacity: 0;
  pointer-events: none;
  display: block;
}

.SidebarOnDesktop ul li .tooltip {
  display: none;
}

.SidebarOnDesktop ul li:hover .tooltip {
  transition: all 0.5s ease;
  opacity: 1;
  top: 50%;
}

.SidebarOnDesktop ul li input {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  border-radius: 12px;
  outline: none;
  border: none;
  background: #1d1b31;
  padding-left: 50px;
  font-size: 18px;
  color: #fff;
}

.SidebarOnDesktop ul li .bx-search {
  position: absolute;
  z-index: 99;
  color: #fff;
  font-size: 22px;
  transition: all 0.5s ease;
}

.SidebarOnDesktop ul li .bx-search:hover {
  background: #fff;
  color: #11101d;
}

.SidebarOnDesktop ul li .bx-search:hover {
  background: #1d1b31;
  color: #fff;
}

.SidebarOnDesktop ul li a {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  border-radius: 12px;
  white-space: nowrap;
  margin-top: 1rem;
}

.SidebarOnDesktop ul li a:hover {
  background: #fff;
  color: #11101d;
}

.SidebarOnDesktop ul li i {
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
}

.SidebarOnDesktop .link_names {
  opacity: 0;
  pointer-events: none;
}

.SidebarOnDesktop .link_names {
  opacity: 1;
  pointer-events: auto;
}

.SidebarOnDesktop .login-button{
  transition: all 0.4s ease;
  padding: 5px 10px;
  border-radius: 12px;
}

.SidebarOnDesktop .login-button:hover{
  background-color: #fff;
  color: #000;

}

.SidebarOnDesktop .profile_content {
  position: absolute;
  color: #fff;
  bottom: 0;
  left: 0;
  width: 100%;
}

.SidebarOnDesktop .profile_content .profile {
  position: relative;
  padding: 10px 6px;
  height: 60px;
  background: #1d1b31;
}

.profile_content .profile .profile_details {
  display: flex;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
}

.SidebarOnDesktop .profile .profile_details {
  opacity: 1;
  pointer-events: auto;
}

.profile .profile_details img {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 12px;
}

.profile .profile_details .name_job {
  margin-left: 10px;
}

.profile .profile_details .name {
  font-size: 15px;
  font-weight: 400;
}

.profile .profile_details .job {
  font-size: 12px;
}

.profile #log_out {
  position: absolute;
  left: 50%;
  bottom: 5px;
  transform: translateX(-50%);
  min-width: 50px;
  line-height: 50px;
  font-size: 20px;
  border-radius: 12px;
  text-align: center;
}

.profile #log_out:hover {
  background: rgb(200, 25, 33);
  color: #11101d;
  cursor: pointer;
}

.SidebarOnDesktop .profile #log_out {
  left: 88%;
}

.home_content {
  position: absolute;
  left: 60px;
  width: calc(100%-60px);
}

.SidebarOnDesktop~.home_content {
  left: 240px;
  width: calc(100% - 240px);
}

.home_content .text {
  font-size: 25px;
  font-weight: 500;
  color: #1d1b31;
  margin: 12px;
}

#log_in {
  margin: 0.5rem;
  bottom: 0;
  position: absolute;
}

@media screen and (max-width:600px) {
  .SidebarOnDesktop{
    width: 60px;
  }
  .SidebarOnDesktop #btn{
    left: 10%;
  }
  .link_names, .logoname, .logo_content .logo{
    display: none;
  }
  .profile .profile_details img{
    height: 25px;
    width: 25px;
  }
}
 