.aboutRoot {
  margin-left: 240px; // sidebar

  height: 100%;

  .aboutContainer {
    width: 1100px;
    height: 100%;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 2rem;
      width: 100%;
      text-align: center;
      border-bottom: 1px solid rgba(var(--dark-border-rgb), 0.5);
    }

    p {
      max-width: 800px;
      padding: 10px 10px;
      font-size: 18px;
      text-align: justify;
    }

    .socials {
      padding: 20px 0;
      text-align: center;

      a {
        display: flex;
        align-items: center;
        color: var(--primary);
        padding: 8px 16px;
        border-radius: 50px;

        i {
          font-size: 2rem;
        }

        span {
          display: block;
          font-size: 20px;
          padding: 4px 10px;
        }

        &:hover {
          background-color: var(--primary);
          color: var(--background);
          transform: scale(1.05);
        }

        &:active {
          transform: scale(1);
        }
      }
    }
  }
}

@media screen and (max-width: 1150px) {
  .aboutRoot {
    .aboutContainer {
      max-width: 95%;
    }
  }
}

@media screen and (max-width: 600px) {
  .aboutRoot {
    margin-left: 60px;
  }
}
