:root {
  --header-height: 55px;

  --primary: #5f7ac5;
  --secondary: #949bd6;

  --background: #a8a4ca;
  --background-light: #acb1d6;

  --text-color: #101010;
  --text-color-over-primary: #efefef;

  --border: #efefef;
  --dark-border: #7f7f7f;

  --primary-rgb: 130, 148, 196;
  --secondary-rgb: 172, 177, 214;

  --background-rgb: 219, 223, 234;
  --background-light-rgb: 172, 177, 214;

  --text-color-rgb: 16, 16, 16;
  --text-color-over-primary-rgb: 239, 239, 239;

  --border-rgb: 239, 239, 239;
  --dark-border-rgb: 127, 127, 127;
}
