:root {
  --primary: #8294c4;
  --secondary: #acb1d6;

  --background: rgb(211, 216, 232);
  --background-light: #acb1d6;

  --text-color: #101010;
  --text-color-over-primary: #efefef;

  --border: #efefef;
  --dark-border: #7f7f7f;

  --primary-rgb: 130, 148, 196;
  --secondary-rgb: 172, 177, 214;

  --background-rgb: 219, 223, 234;
  --background-light-rgb: 172, 177, 214;

  --text-color-rgb: 16, 16, 16;
  --text-color-over-primary-rgb: 239, 239, 239;

  --border-rgb: 239, 239, 239;
  --dark-border-rgb: 127, 127, 127;
}
