.AboutPage{
    margin-left: 250px;
}
h1{
    text-align: center;
    font-size: 4rem;
    font-weight: normal;
}
.AboutPage span,.AboutPage i{
    font-size: 3rem;
    color: black;   
}

.social-1:hover{
    filter: drop-shadow(0.5rem 0.5rem 0.6rem rgb(0, 0, 255));
}
p{
    padding: 2rem;
}
.social-1{
    text-align: center;
    margin: auto;
    width: 27%;
    align-items: center;
    margin-top: 10%;
    filter: drop-shadow(0.5rem 0.5rem 0.6rem rgb(255, 255, 0));
    margin-bottom: 2%;
}
@media screen and (min-width: 300px) and (max-width: 600px) {
    .AboutPage{
      margin-left: 2.5rem;
    }
}  