* {
  box-sizing: border-box;
.Contactus {
  margin-left: 250px;
}
body {
  margin: 0;
  padding: 0;
}
form h1 {
  font-size: medium;
}
form {
  margin-top: 20px;
  margin-left: 37%;  
}

label {
  display: block;
  background-color: #fff;
  box-shadow: 1px 1px 3px #ddd;
  margin: 40px auto;
  max-width: 400px;
  max-height: 530px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 10px 8px 8px rgba(69, 64, 64, 0.2);
}
form input,
textarea {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px auto;
  padding: 10px;
  background-color: #f3f3f3;
  border: 1px solid #ddd;
}

form button {
  height: 35px;
  width: 100%;
  align-items: center;
  cursor: pointer;
  background-color: #d65f30;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  /* margin-left: 200px; */
}

@media (max-width: 767px) {
  /* p {
    text-align: center;
  } */
  h1 {
    font-size: 3rem;
  }
  input[type="text"],
  input[type="email"],
  textarea {
    width: 90%;
  }

  form{
    margin-left: 30%;;
  }
}

/* medium screen  */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  /* Styles specific to medium screens */
  input[type="text"],
  input[type="email"],
  textarea {
    width: 80%;
  }
  /* p {
    text-align: center;
  } */
  form{
    margin-left: 25%;
  }
  /* Add more styles for other elements as needed */
}
