body {
  background-color: #1d1b31c4;
}


.post h3 {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  text-decoration: none;
  text-align: right;
  color: rgb(24, 8, 95);
}

.post {
  transition: transform 0.3s ease-out;
  display: inline-block;
  width: 300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
}


.post:hover{
  transform: scale(1.03);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.2);
    &::before,
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform .3s ease-out 0s;
    background: rgba(255, 255, 255, 0.059);
    content: '';
    pointer-events: none;
  }
}


.blogcredits {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  font-size: 1.2rem;
}

.Link {
  text-decoration: inherit;
}

.title {
  color: #110c22;
  font-weight: normal;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  padding-left:10px;
  position: relative;
  width: fit-content;
}

.title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 4px;
  background-color: #3c1247;
  transition: width 0.3s ease-out;
}

.title:hover {
  color: #3c1247;
}

.title:hover::after {
  width: 100%;
}

.imageCont {
  text-align: left;
  width: 45%;
  margin: 1rem;
}

.post .postTextContainer {
  word-wrap: break-word;
  display: grid;
  height: auto;
  width: 100%;
  overflow: hidden;
  font-size: 1rem;
  padding: 1.2rem 1rem;
}

/* Expading animations */
.expandElement {
  transition: transform 0.3s ease-out;
  color: black;
}

.expandElement:hover {
  transform: scale(1.2);
}
/* Expading animations */

.imageCont img {
  height: 9rem;
  
  padding: 0;
  border: none;
    border-radius: 8px;
  padding: 0.2rem;
  border-radius: 10px;
}

.contents {
  display: flex;
  
  padding-bottom: 15px;
}

.deletePost {
  display: flex;
}


@media screen and (min-width: 600px) and (max-width: 740px) {
  .contents {
    flex-direction: column;
  }

  .title {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 740px) and (max-width: 800px) {
  .contents {
    gap: 1.2rem;
  }

  .title {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 300px) and (max-width: 600px) {

  .imageCont img {
    width: 8rem;
    height: auto;
    padding: 0.2rem;
    border: ridge;
  }

  .imageCont {
    font-size: .5rem;
    text-align: left;
    width: 45%;
    margin: .5rem;
  }

  .blogcredits {
    color: #110c22;
  }

  .blogContent p {
    color: #110c22;
  }

  .title {
    font-size: 1.5rem;
  }
}

.scrollToTopBtn {
  position: fixed;
  bottom: 40px;
  right: 30px;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 100%;
  background-color: #333;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: opacity 0.3s;
  opacity: 0.7;
}
.scrollElement{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scrollToTopBtn:hover {
  opacity: 1;
  bottom: 46px;
  background-color: #333;
}

.edit-heading{
  display: flex;
  justify-content: center;
  font-family: Poppins,sans-serif;
  font-size:xxx-large;
}

.edit-label {
  margin-top: 50px;
  font-size: 1.2rem; /* Adjust the font size as desired */
}

.edit-textarea {
  width: 90%;
  font-size: 1rem; /* Adjust the font size as desired */
}

.button {
  border-radius: 5px;
  font-size: 15px;
}

.buttonGap {
  margin-left: 100px;
}