body {
  background-color: #1d1b31c4;
}


.post h3 {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  text-decoration: none;
  text-align: right;
  color: rgb(24, 8, 95);
}

.post {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.post:hover, .post:focus, .post:active {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}


/* .post{
  transition: transform .3s ease-out;
  display: inline-block;
}

.post:hover{
  transform: translate(0, -10px);
} */

.blogcredits {
  display: flex;
  justify-content: space-between;
}

.Link {
  text-decoration: inherit;
}

.title {
  color: #110c22;
  font-weight: normal;
  font-size: 2.5rem;
  cursor: pointer;
  text-align: left;
}

.title:hover {
  color: #000000c3;
}

.imageCont {
  text-align: left;
  width: 45%;
  margin: 1rem;
}

.imageCont img {
  height: 8rem;
  padding: 0.2rem;
  border: ridge;
}

.contents {
  display: flex;
}

.deletePost {
  display: flex;
}

@media screen and (min-width: 600px) and (max-width: 740px) {
  .contents {
    flex-direction: column;
  }

  .title {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 740px) and (max-width: 800px) {
  .contents {
    gap: 1.2rem;
  }

  .title {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 300px) and (max-width: 600px) {

  .imageCont img {
    width: 8rem;
    height: auto;
    padding: 0.2rem;
    border: ridge;
  }

  .imageCont {
    font-size: .5rem;
    text-align: left;
    width: 45%;
    margin: .5rem;
  }

  .blogcredits {
    color: #110c22;
  }

  .blogContent p {
    color: #110c22;
  }

  .title {
    font-size: 1.5rem;
  }

}
.scrollToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: #333;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: opacity 0.3s;
  opacity: 0.7;
}

.scrollToTopBtn:hover {
  opacity: 1;
}