body {
  background-color: #1d1b31c4;
}

.post h3 {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  text-decoration: none;
  text-align: right;
  color: rgb(24, 8, 95);
}

.blogcredits {
  display: flex;
  justify-content: space-between;
}

.Link {
  text-decoration: inherit;
}

.title {
  filter: drop-shadow(2px 4px 6px white);
  color: #110c22;
  font-weight: normal;
  font-size: 2.5rem;
  cursor: pointer;
}

.title:hover {
  color: #2d0e36;
  filter: drop-shadow(1rem 1rem 1rem black);
}

.imageCont {
  text-align: left;
  width: 45%;
  margin: 1rem;
}

.imageCont img {
  height: 8rem;
  padding: 0.2rem;
  border: ridge;
}

.contents {
  display: flex;
}

.deletePost {
  display: flex;
}

@media screen and (min-width: 300px) and (max-width: 600px) {

  .imageCont img {
    width: 8rem;
    height: auto;
    padding: 0.2rem;
    border: ridge;
  }

  .imageCont {
    font-size: .5rem;
    text-align: left;
    width: 45%;
    margin: .5rem;
  }

  .blogcredits {
    color: #110c22;
  }

  .blogContent p {
    color: #110c22;
  }

  .title {
    font-size: 1.5rem;
  }

}