body {
  background-color: #a8a4cac4;
}

/* Blogpost */
.blogpage {
  margin-left: 250px;
}

.three h1 {
  position: relative;
  padding: 0;
  margin: 1rem 0;
  color: #000000;
  transition: all 0.4s ease 0s;
  font-family: "Verdana", sans-serif;
  font-size: 2.8rem;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.5em;
}

.three h1:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 5px;
  width: 55px;
  background-color: rgb(0, 0, 0);
}

.three h1:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  height: 1px;
  width: 95%;
  max-width: 255px;
  background-color: rgb(0, 0, 0);
}

.shareButton {
  border: none;
  background-color: transparent;
}

button:hover{
  background-color: transparent;
  transform: scale(1.1);
}

.blogtitle {
  font-size: 3rem;
  filter: drop-shadow(1px 1rem 1rem white);
  color: #000;
  display: flex;
  justify-content: center;
  padding-right: 1rem;

}

@media screen and (min-width: 300px) and (max-width: 600px) {
  .inputImg img {
    height: 5rem;
    margin: auto;
    margin-left: auto;
    border: 1px dashed;
    padding: 0.5rem;
    font-size: 10px;
    text-align: center;
    margin-left: 0.2rem;
    border-radius: 0.5rem;
  }

  .inputImg input {
    height: 40px;
    width: 80%;
    margin-right: 0.2rem;
  }

  .blogpage {
    width: 88%;
    padding-right: 1rem;
    color: #aadddd;
    word-break: break-word;
    margin-left: 4rem;
    margin-right: 2rem;
  }

  .three h1 {
    font-size: 2.5rem;
  }
}