.custom-loader {
    margin-top: 275px;
    
    width:32px;
    height:32px;
    --c:radial-gradient(circle closest-side,#766DF4 90%,#0000);
    background: 
      var(--c) 0    0,
      var(--c) 0    100%,
      var(--c) 100% 100%;
    background-size:12px 12px;
    background-repeat: no-repeat;
    animation:d1 1s infinite linear;
  }
  @keyframes d1 {
      25% {background-position:100% 0   ,0 100%,100% 100%}
      50% {background-position:100% 0   ,0 0   ,100% 100%}
      75% {background-position:100% 0   ,0 0   ,0    100%}
      100%{background-position:100% 100%,0 0   ,0    100%}
  }