@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
/* CSS */
.button-57 {
    margin: 1rem;
  position: relative;
  overflow: hidden;
  border: 1px solid #18181a;
  border: none;
  color: #18181a;
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  padding: 1rem ;
  border-radius: .5rem;
  text-decoration: none;
  cursor: pointer;
  background: #fff;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 300px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
}

.button-57 span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.button-57 span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 30px;
}

.button-57:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.button-57:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.button-57:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}

@media screen and (min-width: 300px) and (max-width: 600px) {
.button-57{
  width: 253px;
  font-size: 1.1rem;
}
}
.lg-hd{
  color: rgb(241, 142, 14);
  padding: 0;
  margin: 0;
  font-size: 2.7em!important;
  /* position: relative; */
}
.lg-shd{
  padding: 0;
  margin: -50px;
  font-size: 1.2em!important;
  /* position: absolute; */
}
.clr-hd{
  color:rgb(12, 174, 12);
}