@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
* {
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Poppins";
  padding: 0%;
  margin: 0%;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  font-family: "Poppins";
  margin: 0;
  width: 100%;
  height: 50px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  color: white;
  text-decoration: none;
  padding-top: 0.5rem;
}
.logout {
  border: none;
  font-family: "poppins";
  color: navajowhite;
  background-color: transparent;
  margin-right: 0.5rem;
  cursor: pointer;
  font-size: 1.75rem;
}
.login {
  font-size: 1rem;
  vertical-align: middle;
  display: inherit;
  margin-right: 0.5rem;
  color: navajowhite;
}
.CreatePost {
  font-size: 1rem;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background-color: black;
  padding: 0.5rem;
  border-radius: 1rem;
  box-shadow: 1px 1px 0.5rem wheat;
}
.HomeLink {
  background-color: black;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 1.25rem;
  vertical-align: middle;
  display: inline;
}
a {
  color: white;
  text-decoration: none;
  font-size: 25px;
}

.createPostPage {
  width: 100%;
  height: calc(100vh - 80px);
  display: grid;
  place-items: center;
}
.cpContainer {
  width: 70%;
  height: auto;
  padding: 20px;
  background-color: #1d1b31;
  border-radius: 12px;
  color: white;
  display: flex;
  flex-direction: column;
  margin: 1.6rem;
  margin-left: 15rem;
}

.cpContainer h1 {
  text-align: center;
}

.cpContainer label {
  font-size: 25px;
}
.cpContainer .inputGp {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.inputGp input,
.inputGp textarea {
  font-size: 18px;
  border: none;
  border-radius: 2px;
  padding: 5px;
}

.inputGp input {
  height: 40px;
}
.inputGp textarea {
  height: 150px;
}
/* input image */

.inputImg {
  margin-top: 1rem;
}
.inputImg .cont {
  display: flex;
  flex-direction: row;
}

.inputImg input,
.inputImg textarea {
  font-size: 18px;
  border: none;
  border-radius: 2px;
  padding: 5px;
}

.inputImg input {
  height: 40px;
}
.inputImg textarea {
  height: 150px;
}
.inputImg img {
  height: 5rem;
  margin: auto;
  border: 1px dashed;
  padding: 1rem;
}

/*  */
.cpContainer button {
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  width: max-content;
  padding: 0 2rem;
  margin: 20px auto;
}
input,
textarea {
  margin-top: 5px;
}

.loginPage {
  box-shadow: 1px 1px 1rem #fff;
  border-radius: 1rem;
  background: #11101de6;
  color: wheat;
  position: absolute;
  margin: auto;
  width: 35%;
  right: 20rem;
  top: 8rem;
  height: calc(70vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins";
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loginPage p {
  font-size: 30px;
  color: wheat;
  margin-bottom: 4rem;
}

/* GOOGLE BUTTON */
.login-with-google-btn {
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  padding: 5px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  color: #757575;
  font-size: 25px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;
}
.login-with-google-btn:hover {
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
}
.login-with-google-btn:active {
  background-color: #eeeeee;
}
.login-with-google-btn:focus {
  outline: none;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25),
    0 0 0 3px #c8dafc;
}
.login-with-google-btn:disabled {
  filter: grayscale(100%);
  background-color: #ebebeb;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
}

.homePage {
  width: calc(100% - 240px);
  min-height: calc(100vh - 80px);
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  left: 240px;
  position: absolute;
}

.homePage .post {
  width: 90%;
  height: auto;
  max-height: 45vh;
  background-color: rgb(158, 155, 187);
  margin: 20px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 1px 1px 1rem #40415d;
  overflow: hidden;
  padding: 1rem;
}

.post .postHeader {
  display: flex;
  justify-content: center;
  width: 100%;
}

.postHeader .title {
  flex: 100%;
}
.postHeader .deletePost {
  flex: 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.deletePost button {
  border: none;

  background: none;
  font-size: 30px;
  cursor: pointer;
}

.post .postTextContainer {
  word-wrap: break-word;
  height: auto;
  max-height: 400px;
  width: 100%;
  display: grid;
  padding: 1rem;
}

@media screen and (min-width: 300px) and (max-width: 600px) {
  .homePage .post {
    width: 80vw;
    margin-left: -10rem;
  }
  .loginPage {
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Poppins";
    margin-left: 95px;
    width: 70%;
  }
  .sidebar {
    z-index: 1000;
  }
  .cpContainer {
    width: 70%;
    height: auto;
    padding: 20px;
    background-color: #11101df2;
    border-radius: 12px;
    color: white;
    display: flex;
    flex-direction: column;
    margin: 1.6rem;
  }
}
